html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

*,
*::after,
**::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 72px;
  color: transparent;
  -webkit-text-stroke: 3px #eefbff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  position: relative;
  z-index: 1;
}

.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .text {
  position: relative;
  text-transform: uppercase;
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke: 3px #eefbff;
  text-align: center;
}
.banner p {
  filter: blur(2px);
  margin: 0;
  transform: scale(1.01);
  -webkit-animation: light 1s linear infinite both;
          animation: light 1s linear infinite both;
}
.banner span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes light {
  0% {
    filter: blur(1px);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    filter: blur(1px);
  }
}

@keyframes light {
  0% {
    filter: blur(1px);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    filter: blur(1px);
  }
}
.section1 {
  display: flex;
  padding: 50px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.box {
  height: 200px;
  width: calc(33.33333% - 40px);
  margin: 0 20px;
  border: 2px solid;
  opacity: 0;
}
.boxRoot {
  display: flex;
  margin: 0 -20px;
}
.box--left {
  border-color: aqua;
  box-shadow: 0 0 10px aqua;
  transform: translateX(100%);
}
.box--center {
  border-color: aquamarine;
  box-shadow: 0 0 10px aquamarine;
}
.box--right {
  border-color: bisque;
  box-shadow: 0 0 10px bisque;
  transform: translateX(-100%);
}

.section2 {
  display: flex;
  padding: 50px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.circle {
  opacity: 1;
  margin: 20px 0;
}
.circleRoot {
  display: flex;
  flex-direction: column;
}
.circle .circleInner {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid;
  opacity: 0;
}
.circle--left .circleInner {
  transform: translateX(100px);
  border-color: aqua;
  box-shadow: 0 0 10px aqua;
}
.circle--center .circleInner {
  transform: translateX(200px);
  border-color: aquamarine;
  box-shadow: 0 0 10px aquamarine;
}
.circle--right .circleInner {
  transform: translateX(300px);
  border-color: bisque;
  box-shadow: 0 0 10px bisque;
}

.section3 {
  padding: 50px 0;
  overflow: hidden;
}

.x-axis {
  width: 5000px;
  height: 200px;
  border: 1px solid aqua;
  box-shadow: 0 0 10px aqua;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  padding: 0 50px;
  color: transparent;
  -webkit-text-stroke: 3px #eefbff;
  letter-spacing: 8px;
}

.section4 {
  padding: 50px 0;
  border-top: 1px solid #fff;
}

.section5 {
  border-top: 1px solid #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.section5 .title {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
}
.section5 .green {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #9eff6a;
  border-radius: 50%;
  opacity: 0;
}
.section5__title {
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #fff;
}

.reserved {
  font-size: 20px;
  color: transparent;
  -webkit-text-stroke: 1px #eefbff;
}/*# sourceMappingURL=style.css.map */