html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
}
*,
*::after,
**::before {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    overflow-x: hidden;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.title {
    font-size: 72px;
    color: transparent;
    -webkit-text-stroke: 3px #eefbff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}
.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
        position: relative;
        text-transform: uppercase;
        font-size: 100px;
        color: transparent;
        -webkit-text-stroke: 3px #eefbff;
        text-align: center;
    }
    p {
        filter: blur(2px);
        margin: 0;
        transform: scale(1.01);
        animation: light 1s linear infinite both;
    }
    span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

@keyframes light {
    0% {
        filter: blur(1px);
    }
    50% {
        filter: blur(2px);
    }
    100% {
        filter: blur(1px);
    }
}

.section1 {
    display: flex;
    padding: 50px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.box {
    height: 200px;
    width: calc(33.33333% - 40px);
    margin: 0 20px;
    border: 2px solid;
    opacity: 0;
    &Root {
        display: flex;
        margin: 0 -20px;
    }
    &--left {
        border-color: aqua;
        box-shadow: 0 0 10px aqua;
        transform: translateX(100%);
    }
    &--center {
        border-color:aquamarine;
        box-shadow: 0 0 10px aquamarine;
    }
    &--right {
        border-color: bisque;
        box-shadow: 0 0 10px bisque;
        transform: translateX(-100%);
    }
}

.section2 {
    display: flex;
    padding: 50px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.circle {
    opacity: 1;
    margin: 20px 0;
    &Root {
        display: flex;
        flex-direction: column;
    }
    .circleInner {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 50%;
        border: 2px solid;
        opacity: 0;
    }
    &--left {
        .circleInner {
            transform: translateX(100px);
            border-color: aqua;
            box-shadow: 0 0 10px aqua;
        }
    }
    &--center {
        .circleInner {
            transform: translateX(200px);
            border-color:aquamarine;
            box-shadow: 0 0 10px aquamarine;
        }
    }
    &--right {
        .circleInner {
            transform: translateX(300px);
            border-color: bisque;
            box-shadow: 0 0 10px bisque;
        }
    }
}

.section3 {
    padding: 50px 0;
    overflow: hidden;
}

.x-axis {
    width: 5000px;
    height: 200px;
    border: 1px solid aqua;
    box-shadow: 0 0 10px aqua;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    padding: 0 50px;
    color: transparent;
    -webkit-text-stroke: 3px #eefbff;
    letter-spacing: 8px;
}

.section4 {
    padding: 50px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserved {
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke: 1px #eefbff;
}